{% extends 'event/base.html' %}
{% load imagekit %}

{% block content %}


<div class="main">
{% if post.image1 %}
  <!-- 메인화면 -->
  <div class="main1">
    <!-- image1 구역 -->
    <img src="{{ post.image1.url }}" alt="">
  </div><!-- //소개 끝 -->
{% else %}
123
{% endif %}


{% if post.image2 %}
  <div class="invitation">
    <!-- image2 구역 -->
    <img src="{{ post.image2.url }}" alt="">
  </div>
{% else %}

{% endif %}

{% if post.image3 %}
  <div class="invitation">
    <!-- image3 구역 -->
      <img src="{{ post.image3.url }}" alt="">
  </div>
{% else %}

{% endif %}


{% if post.image4 %}
<div class="call">
  <div class="left_box">
    <!-- image4 구역 -->
      <a href="javascript:location.href='tel:{{ post.call1 }}'"><img src="{{ post.image4.url }}" alt=""></a>
  </div>
{% else %}

{% endif %}


{% if post.image5 %}
  <div class="right_box">
    <!-- image5 구역 -->
    <a href="javascript:location.href='tel:{{ post.call2 }}'"><img src="{{ post.image5.url }}" alt=""></a>
  </div>
</div>
  {% else %}

  {% endif %}


{% if post.image6 %}
    <div class="calendar">
      <!-- image6 구역 -->
    <img src="{{ post.image6.url }}">
  </div>
  {% else %}

  {% endif %}

{% if post.image7 %}
  <div class="gallery">
    <!-- image7 구역 -->
    <img src="{{ post.image7.url }}" alt="">
  </div>
  {% else %}

  {% endif %}

{% if post.image9 %}

  <div class="videotitle">
      <!-- image9 구역 -->
  <img src="{{ post.image9.url }}" alt="">
  </div>
  <div class="video" style=
  "padding-left: 17px;
   padding-right: 17px;">
    <div class="embed-responsive embed-responsive-16by9">
      <!-- 동영상 구역 -->
  {{ post.youtube_url|safe }}
    </div>
  </div>
    {% else %}

    {% endif %}

{% if post.image8 %}

  <div class="map">
    <!-- image8(map) 구역 -->
    <a href="{{ post.naver_map_url }}"><img src="{{ post.image8.url }}" alt=""></a>
  </div>
  {% else %}

  {% endif %}

{% if post.image10 %}

  <div class="videotitle">
    <!-- image10 구역 -->
  <img src="{{ post.image10.url }}" alt="">
  </div>
  {% else %}

  {% endif %}


{% if post.image12 %}
  <div class="sns">
    <!-- image12 구역 -->
    <div class="left_box">
      <a id="kakao-link-btn" href="javascript:KakaoDirect();">
                    <img src="{{ post.image12.url }}"> </a>
    </div>
    {% else %}

    {% endif %}

{% if post.image13 %}
    <div class="right_box">
      <!-- image13 구역 -->
    <a href="javascript:shareStory()">
    <img src="{{ post.image13.url }}">
  </a>
    </div>
    {% else %}

    {% endif %}

{% if post.image14 %}
    <div class="left_box">
      <!-- image14 구역 -->
      <a href="#"><img src="{{ post.image14.url }}" alt=""></a>
    </div>
    {% else %}

    {% endif %}


{% if post.image15 %}

    <div class="right_box">
      <!-- image15 구역 -->
      <a href="#"><img src="{{ post.image15.url }}" alt=""></a>
    </div>

  {% else %}

  {% endif %}

  {% if post.image16 %}
      <div class="ohoystdio">
        <a href="{{ post.ohoystudio_url }}"><img src="{{ post.image16.url }}" alt=""></a>
      </div>
        </div>
    {% else %}

    {% endif %}


<script type="text/javascript">
var UserAgent = navigator.userAgent;
var isMobile = UserAgent.match(/iPhone|iPod|Android|iPad/i);



// 카카오톡 //

// 사용할 앱의 Javascript 키를 설정해 주세요.
  Kakao.init('449e6bf5a38170d9471e1d81a4d232ca');

  // 카카오톡 링크 버튼을 생성합니다. 처음 한번만 호출하면 됩니다.
  Kakao.Link.createTalkLinkButton({
    container: '#kakao-link-btn',
    label: '{{ post.kakao_link_label }}',
    image: {
      src: '{{ post.ohoystdio_img_src_url }}',
      width: '300',
      height: '200'
    },
    webButton: {
      text: '청첩장 보러가기',
      url: '{{ post.ohoystdio_url }}' // 앱 설정의 웹 플랫폼에 등록한 도메인의 URL이어야 합니다.
    }
  });

// 카카오 스토리 //


// 사용할 앱의 Javascript 키를 설정해 주세요.
  Kakao.init('449e6bf5a38170d9471e1d81a4d232ca');


// 스토리 공유 버튼을 생성합니다.
 function shareStory() {
      Kakao.Story.share({
        url: '{{ post.ohoystdio_url }}',
        text: '{{ post.kakao_link_label }}'
      });
    }

</script>
</div>
{% endblock %}
