<!DOCTYPE html>
{% load staticfiles %}
<html>
  <head>
    <meta property="og:image" content="{{ post.preview_image.url }}">
    <meta property="og:title" content="{{ post.title }}">
    <meta property="og:description" content="청첩장을 확인하세요.">
    <meta charset="utf-8">
    <link href='http://fonts.googleapis.com/css?family=Noto+Sans' rel='stylesheet' type='text/css'>
    <link href='https://cdn.rawgit.com/openhiun/hangul/14c0f6faa2941116bb53001d6a7dcd5e82300c3f/nanumbarungothic.css' rel='stylesheet' type='text/css'>
    <link href="{% static 'bt3/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'bt3/css/bootstrap.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'bt3/css/custom.css' %}" type="text/css"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <!-- 핸드폰 최적화 -->
    <script src="//developers.kakao.com/sdk/js/kakao.min.js"></script>
    <title>{{ post.title }}</title>
<script src="http://code.jquery.com/jquery-latest.js"></script>
<script type="text/javascript">
	function callNumber(num){
	location.href="tel:"+num;
	}
</script>
  </head>
  <body>
<div class="main">
{% if post.main_image1 %}
  <!-- 메인화면 -->
  <div class="main1">
    <!-- image1 구역 -->
    <img src="{{ post.main_image1.url }}" alt="">
  </div><!-- //소개 끝 -->
{% else %}

{% endif %}


{% if post.invitation_image2 %}
  <div class="invitation">
    <!-- image2 구역 -->
    <img src="{{ post.invitation_image2.url }}" alt="">
  </div>
{% else %}

{% endif %}

{% if post.family_image3 %}
  <div class="invitation">
    <!-- image3 구역 -->
      <img src="{{ post.family_image3.url }}" alt="">
  </div>
{% else %}

{% endif %}


{% if post.call1_image4 %}
<div class="call">
  <div class="left_box">
    <!-- image4 구역 -->
      <a href="javascript:location.href='tel:{{ post.call1 }}'"><img src="{{ post.call1_image4.url }}" alt=""></a>
  </div>
{% else %}

{% endif %}


{% if post.call2_image5 %}
  <div class="right_box">
    <!-- image5 구역 -->
    <a href="javascript:location.href='tel:{{ post.call2 }}'"><img src="{{ post.call2_image5.url }}" alt=""></a>
  </div>
</div>
  {% else %}

  {% endif %}


{% if post.celendar_image6 %}
    <div class="calendar">
      <!-- image6 구역 -->
    <img src="{{ post.celendar_image6.url }}">
  </div>
  {% else %}

  {% endif %}
    {% block content %}
    {% endblock %}


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="{% static 'bt3/js/bootstrap.min.js' %}"></script>
    <script src="{% static "bt3/jquery/dist/jquery.min.js" %}"></script>
    <script src="{% static "jquery.csrf.js"%}"></script> <!-- 메번 ajax 셋업 -->
  </body>