<!DOCTYPE html>
{% load staticfiles %}
<html>
  <head>
    <meta property="og:image" content="{{ post.preview_image.url }}">
    <meta property="og:title" content="{{ post.title }}">
    <meta property="og:description" content="청첩장을 확인하세요.">
    <meta charset="utf-8">
    <link href='http://fonts.googleapis.com/css?family=Noto+Sans' rel='stylesheet' type='text/css'>
    <link href="{% static 'bt3/css/bootstrap.min.css' %}" rel='stylesheet' type='text/css'>
    <link href="{% static 'bt3/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'bt3/fonts/NanumBarunGothic/nanumbarungothic.css' %}" type='text/css' rel="stylesheet">
    <link rel="stylesheet" href="{% static 'bt3/css/custom.css' %}" type="text/css"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <!-- 핸드폰 최적화 -->
    <script src="//developers.kakao.com/sdk/js/kakao.min.js"></script>
    <title>{{ post.title }}</title>
<script src="http://code.jquery.com/jquery-latest.js"></script>
<script type="text/javascript">
	function callNumber(num){
	location.href="tel:"+num;
	}
</script>
  </head>
  <body>

    {% block content %}
    {% endblock %}


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="{% static 'bt3/js/bootstrap.min.js' %}"></script>
    <script src="{% static "bt3/jquery/dist/jquery.min.js" %}"></script>
    <script src="{% static "jquery.csrf.js"%}"></script> <!-- 메번 ajax 셋업 -->
  </body>