{% extends 'card/base.html' %}
{% load imagekit %}

{% block content %}


<div class="main">
{% if post.main_image1 %}
  <!-- 메인화면 -->
  <div class="main1">
    <!-- image1 구역 -->
    <img src="{{ post.main_image1.url }}" alt="">
  </div><!-- //소개 끝 -->
{% else %}

{% endif %}


{% if post.invitation_image2 %}
  <div class="invitation">
    <!-- image2 구역 -->
    <img src="{{ post.invitation_image2.url }}" alt="">
  </div>
{% else %}

{% endif %}

{% if post.family_image3 %}
  <div class="invitation">
    <!-- image3 구역 -->
      <img src="{{ post.family_image3.url }}" alt="">
  </div>
{% else %}

{% endif %}


{% if post.call1_image4 %}
<div class="call">
  <div class="left_box">
    <!-- image4 구역 -->
      <a href="javascript:location.href='tel:{{ post.call1 }}'"><img src="{{ post.call1_image4.url }}" alt=""></a>
  </div>
{% else %}

{% endif %}


{% if post.call2_image5 %}
  <div class="right_box">
    <!-- image5 구역 -->
    <a href="javascript:location.href='tel:{{ post.call2 }}'"><img src="{{ post.call2_image5.url }}" alt=""></a>
  </div>
</div>
  {% else %}

  {% endif %}


{% if post.celendar_image6 %}
    <div class="calendar">
      <!-- image6 구역 -->
    <img src="{{ post.celendar_image6.url }}">
  </div>
  {% else %}

  {% endif %}

{% if post.gallery_image7 %}
  <div class="gallery">
    <!-- image7 구역 -->
    <img src="{{ post.gallery_image7.url }}" alt="">
  </div>
  {% else %}

  {% endif %}

  {% if post.videotitle_image8 %}

    <div class="videotitle">
      <!-- image8(videotitle) 구역 -->
      <img src="{{ post.videotitle_image8.url }}" alt="">
    </div>
    <div class="video" style=
    "padding-left: 17px;
     padding-right: 17px;">
      <div class="embed-responsive embed-responsive-16by9">
        <!-- 동영상 구역 -->
    {{ post.youtube_url|safe }}
      </div>
    </div>
    {% else %}
    {% endif %}

{% if post.map_image9 %}

  <div class="map">
      <!-- image9 구역 -->
  <a href="{{ post.naver_map_url }}"><img src="{{ post.map_image9.url }}" alt=""></a>
  </div>

    {% else %}

    {% endif %}

{% if post.map_infor_image10 %}

  <div class="videotitle">
    <!-- image10 구역 -->
  <img src="{{ post.map_infor_image10.url }}" alt="">
  </div>
  {% else %}

  {% endif %}

{% if post.message_title_image11 %}

  <div class="videotitle">
  <img src="{{ post.message_title_image11.url }}" alt="">
  </div>
  <div class="row"  style="
          margin-left: 10px;
          margin-right: 10px;">
        <h3>댓글 작성</h3>
          <form action="" class="form-horizontal" method="post">
            {% csrf_token %}
            <div class="form-group">
              <ul class="massage">
                  <li>
                      <span class="tt">Name</span>:
                      <input type="text" class="jtxtoff" id="id_user" name="user">
                  </li>
                  <li>
                      <span class="tt">Password</span>:
                      <input type="password" class="jtxtoff" id="id_password" name="password">
                  </li>
                  <li>
                      <span class="tt">Message</span>:
                      <input type="text" class="jtxtoff" id="id_message" name="message">
                  </li>
              </ul>
              <button class="btn btn-large btn-block btn-primary" type="submit">작성</button>

            </div>

          </form>

    </div>

    <div class="row"  style="
      margin-left: 10px;
      margin-right: 10px;">
    <h3>댓글목록</h3>
    {% for comments in post.comment_set.all %}
    <div style="background-color: #DCDCDC;">
      <table style="margin-bottom: 5px;" class="table table-striped">
        <tbody>
          <ul style="padding-left: 0px;">
            <li style="overflow: hidden;">
              <small>{{comments.user}}</small>
            </li>
            <strong><h4>{{comments.message}}</h4></strong>
            <li style="overflow: hidden;"><small>{{comments.updated_at| date:'Y-m-d g:i a'}}</small></li>
            <li style="overflow: hidden;"><strong>
              <a style="float: right;" class="btn btn-default" href="{% url "card:comment_delete" pk=comments.pk %}">
            <span class="glyphicon glyphicon-trash"> 댓글삭제</span></strong></a></li>

    {% endfor %}

        </ul>
      </tbody>
      </table>
    </div>

  {% else %}

  {% endif %}

  {% if post.kakao_image12 %}
    <div class="sns">
      <!-- image12 구역 -->
      <div class="left_box">
        <a id="kakao-link-btn" href="javascript:KakaoDirect();">
                      <img src="{{ post.kakao_image12.url }}"> </a>
      </div>
      {% else %}

      {% endif %}

  {% if post.story_image13 %}
      <div class="right_box">
        <!-- image13 구역 -->
      <a href="javascript:shareStory()">
      <img src="{{ post.story_image13.url }}">
    </a>
      </div>
      {% else %}

      {% endif %}

  {% if post.facebook_image14 %}
      <div class="left_box">
        <!-- image14 구역 -->
        <a href="#"><img src="{{ post.facebook_image14.url }}" alt=""></a>
      </div>
      {% else %}

      {% endif %}


  {% if post.massage_image15 %}

      <div class="right_box">
        <!-- image15 구역 -->
        <a href="#"><img src="{{ post.massage_image15.url }}" alt=""></a>
      </div>

    {% else %}

    {% endif %}

    {% if post.copyright_image16 %}
        <div class="ohoystdio">
          <a href="{{ post.ohoystudio_url }}"><img src="{{ post.copyright_image16.url }}" alt=""></a>
        </div>
          </div>
      {% else %}

      {% endif %}
<script type="text/javascript">
var UserAgent = navigator.userAgent;
var isMobile = UserAgent.match(/iPhone|iPod|Android|iPad/i);



      // 카카오톡 //

      // 사용할 앱의 Javascript 키를 설정해 주세요.
        Kakao.init('390d18a99a68a2f5fbd2847d35fa9d05');

        // 카카오톡 링크 버튼을 생성합니다. 처음 한번만 호출하면 됩니다.
        Kakao.Link.createTalkLinkButton({
          container: '#kakao-link-btn',
          label: '{{ post.kakao_link_label }}',
          image: {
            src: '{{ post.ohoystdio_img_src_url }}',
            width: '300',
            height: '200'
          },
          webButton: {
            text: '청첩장 보러가기',
            url: 'https://ohoystdio.kr/card/post/{{ post.id }}' // 앱 설정의 웹 플랫폼에 등록한 도메인의 URL이어야 합니다.
          }
        });

      // 카카오 스토리 //


      // 사용할 앱의 Javascript 키를 설정해 주세요.
        Kakao.init('390d18a99a68a2f5fbd2847d35fa9d05');


      // 스토리 공유 버튼을 생성합니다.
       function shareStory() {
            Kakao.Story.share({
              url: 'https://ohoystdio.kr/card/post/{{ post.id }}',
              text: '{{ post.kakao_link_label }}'
            });
          }

</script>
</div>
{% endblock %}
