<style>
		html, body {margin:0;padding:0;}
		img {display:block;border:0;}
		ul {list-style:none;}
		.main {width:100%;margin:0 auto;text-align:center;}
		.main1 {}
		.main1 img {width:100%;height:auto;}
		.calendar {}
		.calendar img {width:100%;height:auto;}
		.invitation {}
		.invitation img {width:100%;height:auto;}
		.call {overflow:hidden;width:100%;zoom:1;}
		.call .left_box {float:left;width:50%;}
		.call .right_box {float:left;width:50%;}
		.call div a {display:block;}
		.call div a img {width:100%;height:auto;}
		.gallery {}
		.gallery img {width:100%;height:auto;}
		.map {}
		.map a {display:block;}
		.map a img {width:100%;height:auto;}
		.videotitle {}
		.videotitle img {width:100%;height:auto;}
		.video {}
		.video {width:auto;height:auto;}
		#youtube {padding : 17;}
		#date {float: right;;}
		#commentname {float: left;}
		#message_user {float: left; padding: 3px 3px 3px 3px; overflow: hidden;}
		#message_passward {float: left; padding: 3px 3px 3px 3px; overflow: hidden;}
		#message_input {float: left; padding: 3px 3px 3px 3px; overflow: hidden;}
		#massage_form {padding: 10px;font-family: 'Noto Sans', sans-serif;}
		#id_user {border: 0px; background-color: white;}
		#id_password1 {border: 0px; background-color: white;}
		#id_message {border: 0px; background-color: white;}
		.sns {overflow:hidden;width:100%;zoom:1;}
		.sns .left_box {float:left;width:33%;}
        .sns .left_box {float:left;width:33%;}
        .sns .right_box {float:left;width:33%;}
        .sns div a {display:block;}
        .sns div a img {width:100%;height:auto;}
		.ohoystdio {}
		.ohoystdio img {width:100%;height:auto;}
		#more_button {color:black;background-color:white;font-family: 'Noto Sans', sans-serif;}
		#Send_message {color:white;background-color:#3a3a3a;font-family: 'Noto Sans', sans-serif;}
		#delete_message {color:white;background-color:#3a3a3a;font-family: 'Noto Sans', sans-serif;}
		#previous_page {color:black;background-color:white;font-family: 'Noto Sans', sans-serif;}
		#drop_up {position: absolute;}
		#dropdown_menu {right: 47px; width: 200px; text-align:left;}
		#dropdown_menu a {padding: 15px;text-indent: 20px; color: black;font-family: 'Nanum Barun Gothic', sans-serif; font-size: 19px;font-weight:100;}
		#dropdown_menu a img {float: left; width: 32px;height: 32px;}
		.dropdown-menu {vertical-align: middle;}
	</style>
